In [1]:
!pip install pycoingecko

Collecting pycoingecko
  Downloading pycoingecko-3.1.0-py3-none-any.whl (8.8 kB)
Requirement already satisfied: requests in /home/josejoao/anaconda3/lib/python3.9/site-packages (from pycoingecko) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/josejoao/anaconda3/lib/python3.9/site-packages (from requests->pycoingecko) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/josejoao/anaconda3/lib/python3.9/site-packages (from requests->pycoingecko) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /home/josejoao/anaconda3/lib/python3.9/site-packages (from requests->pycoingecko) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /home/josejoao/anaconda3/lib/python3.9/site-packages (from requests->pycoingecko) (2021.10.8)
Installing collected packages: pycoingecko
Successfully installed pycoingecko-3.1.0

In [2]:
import pandas as pd
from pycoingecko import CoinGeckoAPI

In [3]:
gecko_list = [
    "ethereum"
]

In [4]:
cg = CoinGeckoAPI()

In [5]:
timePeriod = 300

data = {}
for coin in gecko_list:
    try:
        nested_lists = cg.get_coin_market_chart_by_id(
            id=coin, vs_currency="usd", days=timePeriod
        )["prices"]
        data[coin] = {}
        data[coin]["timestamps"], data[coin]["values"] = zip(*nested_lists)

    except Exception as e:
        print(e)
        print("coin: " + coin)

frame_list = [
    pd.DataFrame(data[coin]["values"], index=data[coin]["timestamps"], columns=[coin])
    for coin in gecko_list
    if coin in data
]

In [6]:
df_cyptocurrency = pd.concat(frame_list, axis=1).sort_index()
df_cyptocurrency

                  ethereum
1656374400000  1194.224508
1656460800000  1143.533536
1656547200000  1098.905518
1656633600000  1057.630999
1656720000000  1068.819440
...                    ...
1681948800000  1936.425921
1682035200000  1943.435598
1682121600000  1850.149738
1682208000000  1877.541328
1682257384000  1875.645730

[301 rows x 1 columns]

In [8]:
df_cyptocurrency["datetime"] = pd.to_datetime(df_cyptocurrency.index, unit="ms")
df_cyptocurrency["date"] = df_cyptocurrency["datetime"].dt.date
df_cyptocurrency["hour"] = df_cyptocurrency["datetime"].dt.hour
df_cyptocurrency

                  ethereum            datetime        date  hour
1656374400000  1194.224508 2022-06-28 00:00:00  2022-06-28     0
1656460800000  1143.533536 2022-06-29 00:00:00  2022-06-29     0
1656547200000  1098.905518 2022-06-30 00:00:00  2022-06-30     0
1656633600000  1057.630999 2022-07-01 00:00:00  2022-07-01     0
1656720000000  1068.819440 2022-07-02 00:00:00  2022-07-02     0
...                    ...                 ...         ...   ...
1681948800000  1936.425921 2023-04-20 00:00:00  2023-04-20     0
1682035200000  1943.435598 2023-04-21 00:00:00  2023-04-21     0
1682121600000  1850.149738 2023-04-22 00:00:00  2023-04-22     0
1682208000000  1877.541328 2023-04-23 00:00:00  2023-04-23     0
1682257384000  1875.645730 2023-04-23 13:43:04  2023-04-23    13

[301 rows x 4 columns]

In [9]:
df_cyptocurrency = df_cyptocurrency.melt(
    id_vars=["datetime", "date", "hour"], var_name="currency_name", ignore_index=True
)
df_cyptocurrency.head(5)

    datetime        date  hour currency_name        value
0 2022-06-28  2022-06-28     0      ethereum  1194.224508
1 2022-06-29  2022-06-29     0      ethereum  1143.533536
2 2022-06-30  2022-06-30     0      ethereum  1098.905518
3 2022-07-01  2022-07-01     0      ethereum  1057.630999
4 2022-07-02  2022-07-02     0      ethereum  1068.819440

In [10]:
df_cyptocurrency.dropna(inplace=True)

In [11]:
curr = dict(
    [
        ("ethereum", "ETH"),
    ]
)

df_cyptocurrency["coin_symbol"] = df_cyptocurrency["currency_name"].apply(
    lambda c: curr[c]
)

In [12]:
df_cyptocurrency

,datetime,date,hour,currency_name,value,coin_symbol
0,2022-06-28 00:00:00,2022-06-28,0,ethereum,1194.224508,ETH
1,2022-06-29 00:00:00,2022-06-29,0,ethereum,1143.533536,ETH
2,2022-06-30 00:00:00,2022-06-30,0,ethereum,1098.905518,ETH
3,2022-07-01 00:00:00,2022-07-01,0,ethereum,1057.630999,ETH
4,2022-07-02 00:00:00,2022-07-02,0,ethereum,1068.819440,ETH
...,...,...,...,...,...,...
296,2023-04-20 00:00:00,2023-04-20,0,ethereum,1936.425921,ETH
297,2023-04-21 00:00:00,2023-04-21,0,ethereum,1943.435598,ETH
298,2023-04-22 00:00:00,2023-04-22,0,ethereum,1850.149738,ETH
299,2023-04-23 00:00:00,2023-04-23,0,ethereum,1877.541328,ETH
300,2023-04-23 13:43:04,2023-04-23,13,ethereum,1875.645730,ETH